canvas_holder {
	/*border: 1px solid black;*/
}
canvas {
	/*border: 1px solid red;*/
}
#signin {
	position: absolute;
	left:50%;
	margin-left:-200px;
	margin-top: 200px;
	width:300px;
	text-align: center;
	/*border: 1px solid black;*/
	-webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
}